/* Section 1 regarding logo */
.tesco-logo {
  width: 100px;
}
/* Section 2 regarding navbar */
.navbar-link {
  padding: 20px;
  color: white;
}

.navbar {
  background-color: #005086;
    padding: auto 20%;
}


/* Section 3 tesco carousel and heading */
#tesco-headings {
  background-color: #318fb5;
  text-align: center;
}

.image-size {
  height: 300px;
  margin: 2% auto;
}


.carousel-item {
  text-align: center;
}

h1 {
  margin-top: 2%;
}

h3 {
  padding-bottom: 5%;
}

/* section 4 tariq pic */
#company-profile {
  text-align: center;
}

.tariq-pic {
  width: 300px;
}

p {
  padding-top: 5%;
  text-align: left;
  margin: auto 20%;
  text-align: justify;
}

/* Section 5 regarding contact detail */
#Contact-me {
  text-align: center;
  background-color: #005086;
}

h1.footer-heading {
  color: white;
margin-bottom: auto;
}



#textarea {display: block;
margin: auto auto 50px;
text-align: center;


}

.label-size {
  font-size: 16px !important;
}

#Contact-info {position: relative;
padding: 30px 15%;

background-color: #005086;
}

.map {
  display: inline-block;
  position: absolute;
right: 100px;
top: 20px;

}

.contact-set {
position: absolute;
top: 0;
  background-color: #005086;
  color: white;
  z-index: 1;
}

h4,h6 {
  color: white;
}
.contact-div {height: 250px;
  background-color: #005086;
}
